@use "points-rupture" as pr;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contenu-principal {
  flex: 1;
  padding: var(--espace-6) var(--espace-4) var(--espace-7);
}

@media (min-width: pr.$point-tablette) {
  .contenu-principal {
    padding-left: var(--espace-5);
    padding-right: var(--espace-5);
  }
}
